.alert {
  border-radius: 0px;
  border-color: none!important;


}


.alert-bar {

  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  color: white;
  background-color: $grey-300;
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.02), 0 10px 20px rgba(0,0,0,0.1);
  &--success {
      background-color: $green-200;
  }

  &--warning {
    background-color: $orange-200;
  }

  &--error {
    background-color: $red-300;
  }

  &__message {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    max-width: 320px;

    @include media-breakpoint-up(xs) {
      max-width: 500px;
    }

    @include media-breakpoint-up(sm) {
      max-width: 650px;
    }

    @include media-breakpoint-up(md) {
      max-width: 800px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 1000px;
    }

    float: left;

    a {
      color: black;
      font-weight: 500;
      text-decoration: underline;
    }
  }

  &__close {
    color: white;
    //position: absolute;
    text-align: right;
    float: right;
    top: 20px;
  }

  &__icon {
    display: inline-block;
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 100%;
  }

}