<!DOCTYPE html>
<html data-uuid="{{ .UUID }}" lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="https://typitap.com/favicon.ico">
    {{ .HTMLTitle }}
    {{ .HTMLMeta }}
  </head>
  <body>
    {{if .Error}}
      <div
        class="error"
        style="
          width: 50%;
          position: absolute;
          top: 10px;
          left: 10px;
          opacity: .5;
          color: #666;
          border: 2px solid #fb2c10;
          background: rgba(0,0,0,.1);
          font-family:monaco, Consolas, Lucida Console, monospace;
          pointer-events: none;"
        >
          <button
            style="padding: 10px 10px 0 10px;pointer-events: auto; font-size: 16px"
            onclick="this.parentElement.parentElement.removeChild(this.parentElement)"
          >
            Server Error: {{ .UUID }}
          </button>
        <hr style="
          height: 0px;
          border: none;
          border-bottom: 2px solid #fb2c10;
        "/>
        <pre style="font-family:monaco, Consolas, Lucida Console, monospace;
          font-size: 14px; padding: 0 10px 10px; margin: 0">{{ .Error }}</pre>
      </div>
    {{end}}
    <div id="app">{{ .HTMLApp }}</div>


    <script onload="this.parentElement.removeChild(this)">window['--app-initial'] = JSON.parse("{{if .Initial}}{{ .Initial }}{{else}}{}{{end}}");</script>
    <script async defer src="/static/build/bundle.js" onload="this.parentElement.removeChild(this)"></script>

    <script type="text/javascript">
        /* First CSS File */
        var giftofspeed = document.createElement('link');
        giftofspeed.rel = 'stylesheet';
        giftofspeed.href = '/static/build/bundle.css';
        giftofspeed.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(giftofspeed, godefer);
    </script>

    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:637453,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </body>
</html>
