.stats-badge {



  width: 40px;
  height: 40px;
  margin: 0 2px;
  padding-top: 5px;



  text-align: center;
  display: inline-block;
  background-color: $grey-300;
  border-radius: 8px;
  overflow: hidden;


  .badge-value {
    font-size: 18px;
    color: white;
  }
  .badge-label {
    font-size: 16px;
    color: white;
    opacity: 0;
  }

  .badge-icon {
    opacity: 0;
    color: white;
    margin-top: -3px;
    font-size: 18px;
  }


  @include media-breakpoint-up(sm) {
    width: 80px;
    height: 80px;
    margin: 0 5px;
    padding-top: 5px;

    .badge-icon {
      opacity: 1;
      font-size: 25px;
    }

    .badge-value {
      font-size: 28px;
      font-weight: 600;
    }

    .badge-label {
      opacity: 1;
    }
  }

  &.badge-wpm {
    background-color: $brand-primary;
  }

  &.badge-accuracy {
    background-color: $teal;
  }

  &.badge-goldenTrophies {
    background-color: $yellow-200;
  }

  &.badge-silverTrophies {
    background-color: $grey-200;
  }

  &.badge-bronzeTrophies {
    background-color: #db7c1b;
  }



  &.badge-grey {
    background-color: $grey-050;
    & * {
      color: $grey-500;
    }
  }

  &.badge-bug {
    @extend .badge-grey;
  }

  &.badge-stopwatch {
    @extend .badge-grey;
  }

  &.badge-transparent {
    background-color: transparent;
    .badge-label {
      color: $grey-500;
    }
    .badge-value {
      color: $yellow-200;
    }
  }
}