@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,600,600i,800,800i&subset=latin-ext');

@mixin Font() {
  font-family: Nunito, sans-serif;
}

@mixin FontNunito() {
  font-family: Nunito, 'sans-serif';
}

@mixin FontAwesomeIcon($code) {
  font-family: "FontAwesome" !important;
  content: $code;
}
