@import url('https://fonts.googleapis.com/css?family=Dosis:400,500');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600&subset=latin-ext');


h1, h2, h3, h4, h5 {
  font-family: Dosis, 'sans-serif';
  margin: 10px 0px 10px 0px;
}

p, a, ul {
  font-family: "Source Sans Pro", sans-serif;
}


@mixin FontDosis() {
  font-family: Dosis, 'sans-serif';
}

@mixin FontSourceSans() {
  font-family: "Source Sans Pro", sans-serif;
}
