//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "colours";
@import "variables";
//@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";



@import 'bootstrap';
@import 'flatly/flatly_theme';


@import "fonts";

// 0. Utils
@import 'utils/**/*.scss';

// 1. Layout
//@import 'layout/**/*.scss';

// 1. Mixins
@import 'mixins/**/*.scss';

// 2. Components
@import 'components/**/*.scss';


// 3. Pages
@import 'pages/**/*.scss';




body {
  background-color: $grey-050;
}

.main-container {

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.row {
  &.row-space {
    margin: 15px 0px;

  }
}

#app {
  width: 100%;
  height: 100%;

  .app-wrapper {
    height: 100%;
  }
}

.main-content {
  height: 100%;
}