//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "colours";
@import "variables";
//@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
$icon-font-path: "./../libs/bootstrap-sass/assets/fonts/bootstrap/";
@import './../libs/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'flatly/flatly_theme';


@import "fonts";

// 0. Utils
//@import 'utils/**/*.scss';

// 1. Layout
//@import 'layout/**/*.scss';

// 2. Components
@import 'components/**/*.scss';

// 3. Pages
@import 'pages/**/*.scss';




body {
  background-color: $grey-050;
}

.main-container {

}




.row {
  &.row-space {
    margin: 15px 0px;

  }
}