/node_modules
/bin
/pkg
/src
/server/bindata.go
/server/data/static/build
bindata.go
.pid
.DS_Store
/.idea
/client/assets/libs/
/vendor
/server/config/bindata.go
/rethinkdb_data
dump.rdb
rethinkdb_dump_*
*.out