.banner {

  background-position: center;
  background-size: cover;
  position: relative;
  padding: 60px 10px;
  min-height: 250px;

  @media screen and (min-width: $screen-sm) {
    padding: 60px;
  }

  &--overlay {
    margin-top: -90px;
  }

  &__title {
    font-size: 60px;
    font-weight: bold;


    &--light {
      color: white;
    }
  }

  &__subtitle {
    font-size: 30px;
    font-weight: 200;


    &--light {
      color: white;
    }
  }

  &__cta {
    text-align: right;
    margin-top: 20px;
  }



  &.banner--home {
    min-height: 700px;
    background-image: url('/images/home/main-banner-3.jpg');

    .banner__title {
      margin-top: 200px;
      text-align: center;
    }

    .banner__subtitle {
      margin-top: 10px;
      text-align: center;
    }
  }


  &.banner--home-blog {

    background-color: #EFEFEF;

  }

}


