.blob {
  margin: 20px 0;
  position: relative;
  &__name {

  }



  &__icon {
    min-height: 100px;
    transition: all 0.3s ease-in-out;

  }

  &:hover {
    .blob__icon {
      transform: scale(1.1);
    }
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: justify;
    min-height: 80px;
  }
}