.result-row {
  padding: 15px 0;
  margin-left: 0;
  margin-right: 0;
  transition: all 0.3s ease;
  p {
    margin: 0;
  }
  &:hover {
    background: $grey-050;
  }

  a {
    color: $grey-500;
    font-weight: 600;
  }

  &--cell {
  }

  &__place {
    margin-top: 5px;
    font-size: 26px;
    text-align: center;
    display: inline-block;
    padding: 0 5px;
  }
}
