@mixin feedIcon($color) {
  position: relative;
  top: 11px;
  font-size: 18px;
  color: $color;
}

.feed {
  margin: 10px ($card-spacer-x * -1);

  .activity {
    padding: 25px;

    &:last-of-type {
      border-bottom: none;
    }

    &:nth-child(even) {
      background-color: $brand-light-shades;
    }

    &__icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      background-color: white;
      box-shadow: 0 0px 20px 2px #e4e4e4;


      .fa-trophy-alt {
        @include feedIcon($yellow-200);
      }

      .fa-trophy {
        @include feedIcon($orange-200);
      }


      .fa-thumbs-up {
        @include feedIcon($green-200);
        top: 10px;
      }

      .fa-flag {
        @include feedIcon($brand-secondary);
        top: 10px;
      }
      .fa-flag-checkered {
        @include feedIcon($brand-secondary);
        top: 10px;
      }
      .fa-follow {
        @include feedIcon($blue-200);
      }

      .fa-follow-you {
        @include feedIcon($green-200);
      }

      .fa-player-chart {
        @include feedIcon($yellow-200);
      }
    }

    &__text {
      font-size: 16px;
      * {
        font-size: 16px;
      }
    }

    &__date {
      font-size: 12px;
      color: $grey-150;
    }
  }

}