@mixin feedIcon($color, $icon) {
  background-color: $color;
  &:after {
    content: $icon;
  }
}

.feed {
  margin: 10px ($card-spacer-x * -1);

  .activity {
    padding: 25px;

    &:last-of-type {
      border-bottom: none;
    }

    &:nth-child(even) {
      background-color: $brand-light-shades;
    }

    &__icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      &:after {
        font-size: 18px;
        position: relative;
        top: 9px;
        text-align: center;
        font-family: "FontAwesome";
        color: white;
      }

      &--offline-race {
        @include feedIcon(#8ee0e6, "\f024");
      }

      &--online-race {
        @include feedIcon($brand-secondary, "\f024");
      }

      &--follow {
        @include feedIcon($blue-200, "\f087");
      }

      &--follow-you {
        @include feedIcon($green-200, "\f087");
      }

      &--player-chart {
        @include feedIcon($yellow-200, "\f091");
      }
    }

    &__text {
      font-size: 14px;
      color: $grey-500;
    }

    &__date {
      font-size: 12px;
      color: $grey-150;
    }
  }

}