.game-result {


  &__share {
    margin: 5px 0 0;
    text-align: left;
  }

  &__affiliate {
    position: relative;
    padding: 15px;
    background-color: lighten($grey-100, 2%);
    @include clearfix();

    &__caption {
      font-size: 16px;
      display: inline-block;
      margin-top: 10px;
      padding-left: 10px;
    }

    &__title {
      font-size: 18px;
      font-weight: 500;
      display: inline-block;
      margin-top: 5px;
      padding-left: 10px;
    }

    &__image {
      display: inline-block;
      float: left;
      @include clearfix();
    }

    &__button {
      float: right;
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 40px;
    }
  }

  &__players {
    margin: 10px 0;
    &__player {
      font-size: 20px;
      padding: 10px 0;
      border-top: 1px solid $grey-100;

      &__wpm {
        font-weight: 100;
        @include FontSourceSans();
        color: $grey-300;
        font-size: 16px;
      }

      &:first-of-type {
        border-top: none;
      }

      div {
        font-weight: 500;
        width: 25px;
        display: inline-block;
      }

      .fa:not(.fa-spin) {
        position: relative;
        top: 2px;
        width: 35px;
        font-size: 25px;
        &.place-1 {
          color: $yellow-200;
        }
        &.place-2 {
          color: $grey-200;
        }
        &.place-3 {
          color: #db7c1b;
        }
      }

      .fa-spin {
        color: $teal;
      }
    }
  }

  .modal-title {
    text-align: center;
  }

  &__stats {
    margin: 30px 0;
  }

}