.form-control {

  height: 50px;
  padding: 10px 15px;
  font-size: 16px;
  color: $grey-500;
  border: none;
  background-color: $grey-050;
  border-radius: 5px;

  &.control-small {
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
  }

  &.control-loading {
    background-image: url('/static/images/icons/loading.gif');
    background-size: 22px;
    background-position:right 15px center;
    background-repeat: no-repeat;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

