
.navbar {
  background: $nav-color;
  border: none;

  .navbar-btn {
    margin: 10px;
  }

  &-header {
    min-height: 70px;
    font-family: Dosis, 'sans-serif';


    .navbar-brand {
      padding-top: 20px;
    }
  }


  ul.navbar-nav {
    li {
      a {

        font-family: Dosis, 'sans-serif';
        font-size: 17px;
        transition: all 0.5s ease;
        padding-top: 25px;
        padding-bottom: 25px;
        &:hover {
          background-color: darken($nav-color, 5%);
        }
        &:focus {
          background-color: darken($nav-color, 5%);
          color: white;
        }

        &.dropdown-item {
          color: $grey-500;
          &:hover {
            background: $grey-100;
            color: $grey-500;
          }
        }
      }

      &.active {
        a {
          background-color: darken($nav-color, 10%);
        }
        .dropdown-item {
          color: $grey-500;
          background-color: $grey-100;
          &:hover {
            background-color: $grey-100;
            color: $grey-500;
          }
        }
      }
    }
  }



  &-collapse {
    .navbar-nav {



      li {

        a {
          height: 70px;
          color: white;
        }
        &.active {
          a { color: white; }
          .navbar-btn {
            a {
              background-color: $brand-secondary;
            }
          }

        }


        .navbar-btn {
          a {
            padding-top: 12px;
            padding-bottom: 12px;
            height: auto;
            color: white;

            background-color: $brand-secondary;
            &:hover {
              background-color: darken($brand-secondary, 5%);
            }

          }
        }
        .dropdown-menu {
          border: none;
          border-radius: $border-radius;

        }
      }
    }
  }
}



