

.panel {
  border: none;
  margin: 15px 0px;
  //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 1px 0 rgba(197,197,197,0.50);

  .panel-footer {
    padding-top: 0;
  }

  .panel-heading {
    h1, h2, h3, h4, h5, h6, p {
      margin-bottom: 0;
    }
  }

  &.panel-default {
    background-color: white;

    .panel-heading {
      background: none;
      color: $grey-500;
      border: none;
    }
    .panel-footer {
      background: none;
      border: none;
    }

  }

  .panel-borderless {
    border: none;
  }

  &.panel--blue {
    background-color: $blue-200;
    color: white;
    p, h1, h2, h3, h4 {
      color: white;
    }
  }

  &.panel--yellow {
    background-color: $yellow-200;
    color: white;
    p, h1, h2, h3, h4 {
      color: white;
    }
  }
  &.panel--grey {
    background-color: $grey-100;
  }
}

