

.panel {
  border: none;
  margin: 20px 0px;
  //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid $grey-100;
  &.panel-default {
    background-color: white;

    .panel-heading {
      background: none;
      color: $grey-500;
      border: none;
    }
    .panel-footer {
      background: none;
      border: none;
    }

  }

  .panel-borderless {
    border: none;
  }

  &.panel--blue {
    background-color: $blue-200;
    color: white;
    p, h1, h2, h3, h4 {
      color: white;
    }
  }

  &.panel--yellow {
    background-color: $yellow-200;
    color: white;
    p, h1, h2, h3, h4 {
      color: white;
    }
  }
  &.panel--grey {
    background-color: $grey-100;
  }
}

