.spinner {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px;

  .sk-spinner {
    display: inline-block;
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}