.stats-badge {



  width: 40px;
  height: 40px;
  margin: 0 5px;
  padding-top: 5px;


  text-align: center;
  display: inline-block;
  background-color: $grey-300;
  border-radius: 8px;
  overflow: hidden;


  .badge-value {
    font-size: 18px;
    color: white;
  }
  .badge-label {
    font-size: 16px;
    color: white;
    opacity: 0;
  }

  .badge-icon {
    font-family: "FontAwesome", sans-serif;
    font-size: 16px;
    opacity: 0;
    color: white;
    margin-top: -5px;
    &:after {
      content: "\f091";
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    width: 80px;
    height: 80px;
    margin: 0 10px;
    padding-top: 5px;

    .badge-icon {
      opacity: 1;
      font-size: 25px;
    }

    .badge-value {
      font-size: 30px;
    }

    .badge-label {
      opacity: 1;
    }
  }

  &.badge-wpm {
    background-color: $brand-primary;
  }

  &.badge-accuracy {
    background-color: $brand-secondary;
  }

  &.badge-goldenTrophies {
    background-color: $yellow-200;
  }

  &.badge-silverTrophies {
    background-color: $grey-200;
  }

  &.badge-bronzeTrophies {
    background-color: #db7c1b;
  }
}