@mixin Font() {
  font-family: "Dosis", sans-serif;
}



body {
  color: $grey-500;
}

.caption {
  font-size: 16px;
  color: $grey-300;
}

.text-lg {
  font-size: 1.2em;
}

.text-xl {
  font-size: 1.4em;
}

.text-caption {
  font-size: 1.1em;
  color: $grey-300;
  margin-top: -15px;
}



h3 {
  font-size: 22px;
}


