



body {
  color: $grey-600;
}

.caption {
  font-size: 16px;
  color: $grey-300;
}

.text-md {
  font-size: 1.1em;
}

.text-lg {
  font-size: 1.2em;
}

.text-xl {
  font-size: 1.4em;
}

.text-caption {
  font-size: 1.05em;
  color: $grey-300;
  font-weight: 300;
}


.h1, .h2, .h3, .h4, .h5, .h6 {
  @include FontDosis();
}


h3 {
  font-size: 22px;
}




.text-bold {
  font-weight: 500;
}

a {
  color: $brand-primary;
  font-family: "Dosis", sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
}

p, a {
  font-size: 16px;
}

p {
  font-weight: 300;
}

.white {
  color: white;
}

strong {
  font-weight: 600;
}

.text-muted {
  color: $grey-200!important;
}