.user-level {


  &__progress {
    width: 100%;
    background-color: $grey-100;
    border-radius: 2px;
    height: 5px;
    margin-bottom: 6px;
    .progress-bar {
      background-color: $teal;
      transition-duration: 3s;
    }

    &.transparent {
      opacity: 0;
    }
  }

  &__icon {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    display: inline-block;
  }

  &__name {
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 3px;
    color: $brand-dark-shades;
    span {
      font-weight: 700;
    }
  }

  &__points {
    display: inline-block;
    position: relative;
    top: 1px;
    font-size: 12px;
    margin-left: 5px;
    padding: 5px;
    @extend .badge;
    background-color: $brand-secondary;
    color: white;
  }

  &--light {
    .user-level__name {
      color: $brand-light-shades;
      text-shadow: $text-shadow-lg;
    }

    .user-level__points {
      color: $brand-light-shades;
    }
  }

}