.auth {
  width: 100%;
  height: 100%;
  position: fixed;

  padding-top: 20px;

  @include media-breakpoint-up(sm) {
    padding-top: 160px;
  }

  background-image: url("/static/images/pages/lobby/background.png");

  &__links {
    margin-top: ($card-spacer-x * -1);
  }
}