.game {

  margin-top: 50px;

  &__paragraph {
    width: 100%;
    margin-top: 8px;
    display: block;
    letter-spacing: 1.03px;
  }

  .Cursor {
    display: none;
  }



  &__text {
    background-color: $grey-050;
    padding: 20px;
    font-size: 18px;
    width: 100%;
    text-align: left;
    border-radius: 6px;
    box-shadow: inset 0 1px 6px 0 hsla(0,0%,81%,.5);


    canvas {
    }

    &--guide {
      opacity: 0.13;
    }

    &__playback {
      margin: 7px 0px 10px 10px;
      display: inline-block;

      .fa {
        font-size: 18px;
        color: $grey-400;
        display: inline-block;
        &:hover {
          cursor: pointer;
          opacity: 0.95;
        }
      }

      &__time {
        display: inline-block;
        margin-left: 5px;
        color: $grey-400;
      }
    }

    @media screen and (min-width: $screen-sm-min) {
      min-width: 500px;
    }



    span.word-error {
      text-decoration: underline;
      color: $red-300;
    }

    span.word-error--2 {
      text-decoration: underline;
      color: $brand-danger;
    }

    span.word-error--3 {
      text-decoration: underline;
      color: darken($brand-danger, 10%);
    }

    span.word-highlighted {
      background-color: $yellow-200;
      font-weight: bold;
    }

  }

  &__bar {
    margin-bottom: 15px;

    &__label {
      display: inline-block;
      width: 60px;
      color: $grey-450;
      background: $grey-100;
      border-radius: $border-radius-large;
      padding: 3px 5px;
      margin: 0px 3px;
      text-align: center;
      /* Rectangle 8: */
      box-shadow: inset 0 1px 6px 0 rgba(207,207,207,0.50);

    }

    &__icon {
      font-size: 20px!important;
      margin: 0 5px;
      color: $grey-500;
    }
  }

  &__countdown {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;

    span {
      font-weight: 400;
      font-size: 20px;
    }
  }

  &__input {
    margin-top: 20px;

    input {
      &:focus, &:active {
        outline: none;
      }
    }

    &--error {
      input {
        border-color: $brand-danger;
        color: $brand-danger;

        &:focus, &:active {
          border-color: $brand-danger;
        }
      }
    }
  }



  &.game--complete {
    .game__text {
      opacity: 0.8;
    }
  }

  &__controls {
    margin-top: 15px;
  }





  .game__progress {

    &__name {
      color: $grey-400;
      &--left {
        @extend .text-muted;
      }
    }

    .progress-bar {
      &--default {
        background-color: $grey-200;
      }
    }

    .progress__result__wrapper {
      position: relative;
      .progress__result {
        position: absolute;
        width: 30px;
        text-align: center;
        top: -40px;
        right: -5px;

        &__icon {
          font-size: 24px;
          text-shadow:
                  -1px -1px 0 $grey-500,
                  1px -1px 0 $grey-500,
                  -1px 1px 0 $grey-500,
                  1px 1px 0 $grey-500;
          &.place-1 {
            color: $yellow-200;
          }

          &.place-2 {
            color: $grey-150;
          }

          &.place-3 {
            color: $yellow-500;
          }

          &.place-4, &.place-5 {
            color: $grey-500;
          }


        }

        &__place {
          margin-top: -5px;
          color: $grey-300;
          font-size: 14px;
        }
      }
    }
  }
}

