#homepage {

  .banner-wrapper {
    position: relative;
    height: 600px;
  }
  .banner {

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/static/images/pages/homepage/endless_background.jpg");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    /*adjust s value for speed*/
    animation: animatedBackground 500s linear infinite;

    height: 100%;

    &__content {
      padding: 120px 0;
    }

    &__title {
      * {
        color: white;
      }
    }


    &__buttons {
      margin-top: 40px;
      text-align: center;
      a {
        margin-right: 20px;
      }

      a:last-of-type {
        margin-right: 0;
      }
    }

    &__titles {
      margin-bottom: 40px;
    }
  }

  .feature-title {
    &__icon {
      display: inline-block;
    }

    &__text {
      position: relative;
      top: 20px;
      left: 20px;
      display: inline-block;
    }
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}