.profile-page {

  &__wrapper {
    padding: $grid-gutter-width;
    margin: 0 (($grid-gutter-width / 2)) 0 ($grid-gutter-width / 2);
    background: rgba($white, 0.2);
    border-radius: 6px;
  }

  &__picture {
    height: 150px;
    text-align: center;
    img {
      border-radius: 50%;
      min-height: 150px;
      box-shadow: 0 3px 4px 0 rgba(44,41,72,0.36);
    }
  }

  &__info {
    @include Font();
    &__name {
      margin: 10px 0 0 0;
      color: white;
      text-shadow: $text-shadow-lg;
    }

    &__username {
      font-size: 16px;
      font-style: italic;
      margin: -5px 0 5px 0;
      font-weight: 200;
      color: $grey-100;
      text-shadow: $text-shadow-lg;
    }

    &__details {
      text-align: center;
      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }

    &__details--right {
      text-align: center;
      font-weight: 300;
      color: white;

      @include media-breakpoint-up(md) {
        text-align: right;
      }

      p {
        margin-bottom: 0px;
        font-style: italic;
        color: rgba($white, 0.9);
      }

    }
  }
}