/* Sticky footer styles
-------------------------------------------------- */

$footer-size: 650px;




html { height: 100%; }
body {
  min-height:100%;
  position:relative;
  padding-bottom: $footer-size;

  @include media-breakpoint-up(sm) {
    padding-bottom: 350px;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 180px;
  }
}


.footer {
  position: absolute;
  left: 0 ; right: 0; bottom: 0;
  height: $footer-size;

  @include media-breakpoint-up(sm) {
    height: 350px;
  }

  @include media-breakpoint-up(md) {
    height: 180px;
  }

  background-image: linear-gradient(-180deg, #3d3d3d 0%, #1E1E1E 100%);
  color: white;

  &__social {
    text-align: center;
    display: block;
    padding: 20px 0 0px;
  }
}

