
.navbar {
  background: $backround-gradient;
  padding: 0;
  //box-shadow: 0 2px 0 0 darken($nav-color, 10%);
  border-bottom: darken($nav-color, 10%);

  .navbar-brand {
    margin-left: 20px;
  }

  .navbar-toggler {
    padding: 1.48rem 0.75rem;
  }

  .navbar-nav {
    -webkit-margin-before: 0;
    .nav-item {
      .nav-link {
        color: white;
        font-weight: 600;
        padding: 1.45em 1em;
        letter-spacing: 0.3px;
        -webkit-text-stroke: 0.025em rgba(41, 41, 41, 0.7);
        font-size: 18px;

        &:hover {
          background: rgba(0,0,0,0.1);
        }
      }
    }

    .navbar-btn {
      margin: 15px;

      a {
      }
    }
  }

  .dropdown-menu {
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    border: none;
    box-shadow: 0 2px 19px 0 rgba(93, 93, 93, 0.52);;
    padding: 0;
    overflow: hidden;

    .nav-item {
      a {
        padding: 14px 15px;
        color: $gray-600;

        &:hover {
          background: $brand-primary;
          color: white;
        }
      }
    }
  }
}



